<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Edit Event Record</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version) -->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap) -->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #303030;">
        <div class="container-fluid p-0">
            <a class="navbar-brand" href="/internalLanding"><img src="../assets/TSlogoLowRes.png" alt="..." /> Turtle Shelter Project -- Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/internalLanding">Admin Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/eventRecords">Events</a></li>
                    <li class="nav-item"><a class="nav-link" href="/volunteerRecords">Volunteers</a></li>
                    <li class="nav-item"><a class="nav-link" href="/adminRecords">Admins</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle logout-btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Logout
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/logout">Logout</a>
                            <a class="dropdown-item" href="/">Return Home</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main style="padding-top: 70px;"></main>
    
    <!-- Main Content -->
    <section>
        <div class="container">
            <h2 class="text-center mb-4">Edit Event</h2>
            <form id="editEventForm" method="post" action="/editEventRec/<%= event.eventid %>">
                
                <!-- Contact Information -->
                <fieldset class="mb-4">
                    <legend>Contact Information</legend>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="contactname">Contact Name *</label>
                            <input class="form-control" type="text" name="contactname" id="contactname" value="<%= event.contactname || '' %>" required />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="organization">Organization</label>
                            <input class="form-control" type="text" name="organization" id="organization" value="<%= event.organization || '' %>" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="contactemail">Contact Email *</label>
                            <input class="form-control" type="email" name="contactemail" id="contactemail" value="<%= event.contactemail || '' %>" required />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="contactphone">Contact Phone *</label>
                            <input class="form-control" type="tel" name="contactphone" id="contactphone" value="<%= event.contactphone || '' %>" pattern="\(\d{3}\) \d{3}-\d{4}" required 
                                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3');" />
                        </div>
                    </div>
                </fieldset>
                
                <!-- Event Location -->
                <fieldset class="mb-4">
                    <legend>Event Location</legend>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="address">Street Address *</label>
                            <input class="form-control" type="text" name="address" id="address" value="<%= event.address || '' %>" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="city">City *</label>
                            <input class="form-control" type="text" name="city" id="city" value="<%= event.city || '' %>" required />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="state">State *</label>
                            <select class="form-control" name="state" id="state" required>
                                <option value="" disabled <%= !event.state ? "selected" : "" %>>Select your state *</option>
                                <!-- Populate state options dynamically -->
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="zip">Zip Code *</label>
                            <input class="form-control" type="number" name="zip" id="zip" value="<%= event.zip || '' %>" required />
                        </div>
                    </div>
                </fieldset>

                <!-- Event Details -->
                <fieldset class="mb-4">
                    <legend>Event Details</legend>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="expectedparticipants">Expected Participants *</label>
                            <input class="form-control" type="number" name="expectedparticipants" id="expectedparticipants" value="<%= event.expectedparticipants || '' %>" required />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="expectedduration">Expected Duration (hours) *</label>
                            <input class="form-control" type="number" name="expectedduration" id="expectedduration" value="<%= event.expectedduration || '' %>" required />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="starttime">Start Time</label>
                            <input class="form-control" type="time" name="starttime" id="starttime" value="<%= event.starttime || '' %>" />
                        </div>
                    </div>
                </fieldset>

                <!-- Date Range -->
                <fieldset class="mb-4">
                    <legend>Date Range</legend>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="startdaterange">Start Date *</label>
                            <input class="form-control" type="date" name="startdaterange" id="startdaterange" value="<%= event.startdaterange || '' %>" required />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="enddaterange">End Date</label>
                            <input class="form-control" type="date" name="enddaterange" id="enddaterange" value="<%= event.enddaterange || '' %>" />
                        </div>
                    </div>
                </fieldset>

                <!-- Event Activities -->
                <fieldset class="mb-4">
                    <legend>Event Activities</legend>
                    <div class="form-group">
                        <label for="eventactivities">Type of Activities *</label>
                        <select class="form-control" name="eventactivities" id="eventactivities" required>
                            <option value="" <%= !event.eventactivities ? "selected" : "" %>>Select Activity</option>
                            <option value="sewing" <%= event.eventactivities === "sewing" ? "selected" : "" %>>Sewing</option>
                            <option value="non-sewing" <%= event.eventactivities === "non-sewing" ? "selected" : "" %>>Non-Sewing</option>
                            <option value="both" <%= event.eventactivities === "both" ? "selected" : "" %>>Both</option>
                        </select>
                    </div>
                </fieldset>

                <!-- Special Request -->
                <fieldset class="mb-4">
                    <legend>Special Request</legend>
                    <div class="form-group">
                        <label>Would you like Jen to share her story?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="jenshare" id="jenshareyes" value="yes" <%= event.jenshare ? "checked" : "" %> />
                            <label class="form-check-label" for="jenshareyes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="jenshare" id="jenshareno" value="no" <%= !event.jenshare ? "checked" : "" %> />
                            <label class="form-check-label" for="jenshareno">No</label>
                        </div>
                    </div>
                </fieldset>

                <!-- Additional Information -->
                <fieldset class="mb-4">
                    <legend>Additional Information</legend>
                    <div class="form-group">
                        <label for="spacedescription">Space Description</label>
                        <textarea class="form-control" name="spacedescription" id="spacedescription"><%= event.spacedescription || '' %></textarea>
                    </div>
                </fieldset>

                <!-- Equipment Details -->
                <fieldset class="mb-4">
                    <legend>Equipment Details</legend>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="numsewers">Number of Sewers</label>
                            <input class="form-control" type="number" name="numsewers" id="numsewers" value="<%= event.numsewers || '' %>" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="nummachines">Number of Machines</label>
                            <input class="form-control" type="number" name="nummachines" id="nummachines" value="<%= event.nummachines || '' %>" />
                        </div>
                    </div>
                </fieldset>

                <!-- Event Status -->
                <fieldset class="mb-4">
                    <legend>Event Status</legend>
                    <div class="form-group">
                        <label for="eventstatus">Event Status *</label>
                        <select class="form-control" name="eventstatus" id="eventstatus" required>
                            <option value="pending" <%= event.eventstatus === "pending" || !event.eventstatus ? "selected" : "" %>>Pending</option>
                            <option value="approved" <%= event.eventstatus === "approved" ? "selected" : "" %>>Approved</option>
                            <option value="planned" <%= event.eventstatus === "planned" ? "selected" : "" %>>Planned</option>
                            <option value="completed" <%= event.eventstatus === "completed" ? "selected" : "" %>>Completed</option>
                        </select>
                    </div>
                </fieldset>

                <!-- Additional Event and Equipment Details -->
                <fieldset class="mb-4">
                    <legend>Additional Event and Equipment Details</legend>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="numroundtables">Number of Round Tables</label>
                            <input class="form-control" type="number" name="numroundtables" id="numroundtables" value="<%= event.numroundtables || '' %>" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="numrectanglestables">Number of Rectangle Tables</label>
                            <input class="form-control" type="number" name="numrectanglestables" id="numrectanglestables" value="<%= event.numrectanglestables || '' %>" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="numadults">Number of Adults</label>
                            <input class="form-control" type="number" name="numadults" id="numadults" value="<%= event.numadults || '' %>" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="numchildren">Number of Children</label>
                            <input class="form-control" type="number" name="numchildren" id="numchildren" value="<%= event.numchildren || '' %>" />
                        </div>
                    </div>
                </fieldset>

                <!-- Submit Button -->
                <div class="form-group text-center mt-4">
                    <button class="btn btn-primary" type="submit">Update Record</button>
                </div>
                
            </form>
        </div>
    </section>
</body>
</html>
