<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Turtle</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #303030;">
        <div class="container-fluid p-0" style="background-color: #303030;">
            <a class="navbar-brand" href="#page-top"><img src="../assets/TSlogoLowRes.png" alt="..." />Turtle Shelter Project -- Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/internalLanding">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/eventRecords">Event Records</a></li>
                    <li class="nav-item"><a class="nav-link" href="/volunteerRecords">Volunteer Records</a></li>
                    <li class="nav-item"><a class="nav-link" href="/adminRecords">Admin Records</a></li>
                    <li class="nav-item"><a class="nav-link" href="#team">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Volunteer Records</h1>
    <tr>
        <form action="/addVolunteer" method="POST">
            <td><input type="text" name="FirstName" required></td>
            <td><input type="text" name="LastName" required></td>
            <td><input type="tel" name="Phone" required></td>
            <td><input type="email" name="Email" required></td>
            <td><input type="text" name="City"></td>
            <td><input type="text" name="State"></td>
            <td><input type="text" name="HowTheyHeard"></td>
            <td><input type="text" name="SewingLevel"></td>
            <td><input type="number" name="MonthlyHrsWilling" min="0"></td>
            <td>
                <select name="LeadEvent">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </td>
            <td><input type="text" name="TravelTime"></td>
            <td><input type="text" name="Comments"></td>
            <td><button type="submit" class="btn btn-success">Add</button></td>
        </form>
    </tr>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>First Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>City</th>
                <th>State</th>
                <th>How They Heard About Us</th>
                <th>Sewing Experience Level</th>
                <th>Hours Willing to Contribute Per Month</th>
                <th>Willing to Lead an Event?</th>
                <th>Time Willing to Travel For an Event</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <% volunteers.forEach(function(volunteer) { %>
                <tr>
                    <td><%= volunteer.FirstName %></td>
                    <td><%= volunteer.LastName%></td>
                    <td><%= volunteer.Phone %></td>
                    <td><%= volunteer.Email %></td>
                    <td><%= volunteer.City %></td>
                    <td><%= volunteer.State %></td>
                    <td><%= volunteer.HowTheyHeard %></td>
                    <td><%= volunteer.SewingLevel %></td>
                    <td><%= volunteer.MonthlyHrsWilling %></td>
                    <td><%= volunteer.LeadEvent %></td>
                    <td><%= volunteer.TravelTime %></td>
                </tr>
            <% }); %>
        </tbody>
    <td>
        <a href="/deleteVolunteer/<%= volunteer.id %>" onclick="return confirm('Are you sure you want to delete this record?');">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>
    </table>
</body>
</html>